# URLs des microservices backend (à adapter selon l'équipe / docker-compose)
VITE_API_BOOKS_URL=http://localhost:8001/api/livres
VITE_API_USERS_URL=http://localhost:8002/api/utilisateurs
VITE_API_LOANS_URL=http://localhost:8003/api/emprunts

# Passe à true pour développer l'UI avec des données de test
# tant que le backend de l'équipe n'est pas encore prêt.
VITE_USE_MOCKS=true
